# Ignore virtual environments
AI/venv/
# .gitignore
venv/
__pycache__/
node_modules/

frontend/build/

# Ignore large package files
*.dll
*.pyd
*.so
*.bin
*.tar.gz

# Ignore logs and temp files
*.log
